@model EDSU_SYSTEM.Models.AdmissionLetter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdmissionLetter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Var1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Var1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Var2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Var2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Var3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Var3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departments.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculties.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
