@model IEnumerable<EDSU_SYSTEM.Models.CourseAllocation>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>
<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Code</th>
                                    <th>Level</th>
                                    <th>Semester</th>
                                    <th>Credit Unit</th>
                                    <th>Status</th>
                                    <th>Department</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Levels.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Semesters.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.CreditUnit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Courses.Departments.Name)
                                        </td>

                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->