@model IEnumerable<EDSU_SYSTEM.Models.PgStudentSupervisor>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<partial name="_CssLinks" />
<h6>List of Post Graduate Students and their Supervisors</h6>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="admin-data-content layout-top-spacing">
    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <table id="html5-extension" class="table table-hover non-hover">
                    <thead>
                        <tr>
                            <th>
                                Student
                            </th>
                            <th>
                                Supervisor
                            </th>
                            <th>
                                Supervisor Role
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th>
                                Date Updated
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Students.Fullname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lecturers.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupervisorRole)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_JsLinks" />
