<div class="admin-data-content layout-top-spacing">

    <div class="row invoice layout-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="doc-container">

                <div class="row">

                    <div class="col-xl-8 col-lg-8 col-md-8 mx-auto">

                        <div class="invoice-container">
                            <div class="invoice-inbox">
                                <div id="ct" class="">
                                    <div class="invoice-00001">
                                        <div class="content-section">
                                            <div class="inv--head-section inv--detail-section">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xl-10 col-lg-10 col-md-10 mx-auto">
                                                        <div class="d-flex">
                                                            <img src="~/logo.png" style="width:180px; height:150px" class="mt-2" alt="Logo" />
                                                            <div class="my-auto text-center">
                                                                <h1 class="in-heading">EDO STATE UNIVERSITY UZAIRUE</h1>
                                                                <h6 class="in-heading">Km7, Auchi-Abuja Road, Iyamho-Uzairue Edo State, Nigeria.</h6><br />
                                                               
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-xl-8 col-lg-8 col-md-8 mx-auto">
                                                     <span class="">Note: This payment does not give access to any of the university facilities!<br/> Kindly proceed to make payments in your student Dashboard/wallet</span> 
                                                     
                                                </div>

                                            </div>

                                            <div class="inv--detail-section inv--customer-detail-section">

                                                <div class="row">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                                        <p><span class=" inv-subtitle">Ref: @ViewBag.PaymentRef </span></p>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-sm-4 col-6 mx-auto">
                                                        <p><span class=" inv-subtitle">Receipt No.: @ViewBag.ReceiptNo</span></p>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-sm-4 col-6 mx-auto">
                                                        <p><span class=" inv-subtitle">WalletID: @ViewBag.WalletId</span></p>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="inv--detail-section inv--customer-detail-section">

                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6">
                                                        <p><span class=" inv-subtitle">Name:</span></p>
                                                        <p><span class=" inv-subtitle">Email:</span></p>
                                                        <p><span class=" inv-subtitle">Amount: </span></p>
                                                        <p><span class=" inv-subtitle">Description: </span></p>
                                                        <p><span class=" inv-subtitle">Date: </span></p>
                                                        <p><span class=" inv-subtitle">Bursar's Signature: </span></p>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-sm-4 col-6">
                                                        <p><span class=" inv-subtitle">@ViewBag.Name</span></p>
                                                        <p><span class=" inv-subtitle">@ViewBag.Email</span></p>
                                                       
                                                        <p><span class=" inv-subtitle">N @ViewBag.Amount </span></p>
                                                        <p><span class=" inv-subtitle">@ViewBag.Description </span></p>
                                                        <p><span class=" inv-subtitle">@ViewBag.Date </span></p>
                                                        <img src="~/images/bsa-1.png" style="height:120px; margin-left:-30px; margin-top:-20px" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="inv--note">

                                                <div class="row mt-4">
                                                    <div class="col-sm-12 col-12 order-sm-0 order-1">
                                                        <p>POWERED BY: EDSU ICT TEAM.</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-xl-6 mx-auto">

                        <div class="invoice-actions-btn">

                            <div class="invoice-action-btn">

                                <div class="row">

                                    <div class="col-xl-4 col-md-3 col-sm-4 mx-auto">
                                        <a href="javascript:void(0);" class="btn btn-secondary btn-print  action-print">Print</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>


                </div>


            </div>

        </div>
    </div>

</div>
