@model EDSU_SYSTEM.Models.Evaluation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grades.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
