@model StudentDashboardVM
@{
    ViewData["Title"] = "Dashboard - ";
}


<div class="main-container" id="container">
<partial name="_StudentDashboardPartial" />
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row pt-3">
             <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-chart-one">
                        <h5 class="">Continous Assessment/Attendance</h5>
                        @*********************************************************************@
                        @*Scroll down to the buttom to see this chart's script*@
                        @*********************************************************************@
                        <div id="chart"></div>
                </div>
            </div>
            @*********************************************************************@
             @*Wallet CARD*@
            @*********************************************************************@
              
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">

                <div class="widget widget-account-invoice-three">

                    <div class="widget-heading">
                        <div class="wallet-usr-info">
                            <div class="usr-name">
                                    <span> @ViewBag.Department</span>
                            </div>
                            <div class="add">
                                <a asp-action="debts" asp-controller="wallets" asp-route-id="@Model.MainWallet.WalletId"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></span></a>
                            </div>
                        </div>
                        <div class="wallet-balance">
                            <p>@Model.MainWallet.Name</p>
                        </div>
                    </div>

                    <div class="widget-amount">

                        <div class="w-a-info funds-received">
                            <span>Credit <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></span>
                            <p>N @Model.MainWallet.CreditBalance</p>
                        </div>

                        <div class="w-a-info funds-spent">
                            <span>Debit <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                            <p>N @Model.MainWallet.BulkDebitBalanace</p>
                        </div>
                    </div>

                    <div class="widget-content">

                        <div class="bills-stats">
                            @if (Model.MainWallet.Status == true)
                            {
                                <span class="badge badge-success"> Active </span>
                            }
                            else
                            {
                                <span class="badge badge-danger"> Inactive </span>
                            }
                        </div>

                        <div class="invoice-list">
                            <div class="inv-action">
                                <a asp-action="history" asp-controller="wallets" asp-route-id="@Model.MainWallet.WalletId" class="btn btn-outline-primary view-details">History</a>
                                <a asp-action="info" asp-controller="wallets" class="btn btn-outline-primary pay-now">Info.</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-table-two">

                    <div class="widget-heading">
                        <h5 class="">Current Semeseter Courses</h5>
                    </div>

                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><div class="th-content">Title</div></th>
                                        <th><div class="th-content">Code</div></th>
                                        <th><div class="th-content">Status</div></th>
                                        <th><div class="th-content th-heading">Unit</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <tr>
                                            <td><div class="td-content product-brand text-primary">@item.Courses.Title</div></td>
                                            <td><div class="td-content product-invoice">@item.Courses.Code</div></td>
                                            <td><div class="td-content pricing"><span class="">@item.Courses.Status</span></div></td>
                                            <td><div class="td-content"><span class="badge badge-success">@item.Courses.CreditUnit</span></div></td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-table-three">

                    <div class="widget-heading">
                        <h5 class="">Time Table</h5>
                    </div>

                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="table table-scroll">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th>Lecturer</th>
                                        <th>Venue</th>
                                        <th>Day</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TimeTables)
                                    {
                                        <tr>
                                            @*<td>@item.Courses.Courses.Code</td>*@
                                            @*<td>@item.Courses.Courses.Title</td>
                                            <td>@item.Staffs.Surname</td>*@
                                            <td>@item.Venue</td>
                                            <td>@item.Day</td>
                                            <td>@item.Time</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->
    </div>
<!-- END MAIN CONTAINER -->
    <script>
        var options = {
            chart: {
                height: 350,
                type: 'bar',
                toolbar: {
                    show: true,
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            // colors: ['#888ea8', '#4361ee'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            series: [{
                name: 'Test Score',
                data: @Html.Raw(ViewBag.grade)
            }, {
                name: 'Attendance',
                data: @Html.Raw(ViewBag.grade)
            }],
            xaxis: {
                categories: @Html.Raw(ViewBag.courses)
            },
            yaxis: {
                title: {
                    text: 'Percentage(%)'
                },
                min: 0,
                max: 100
            },
            fill: {
                opacity: 1

            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + "%"
                    }
                }
            }
        }
        //    chart: {
        //        type: 'bar',
        //        height: 350
        //    },
        //    plotOptions: {
        //        bar: {
        //            horizontal: false,
        //            columnWidth: '55%',
        //            endingShape: 'rounded'
        //        },
        //    },
        //    dataLabels: {
        //        enabled: false
        //    },
        //    series: [{
        //        name: 'Score',
        //        data: @Html.Raw(ViewBag.grade)
        //    }],
        //    xaxis: {
        //        categories: @Html.Raw(ViewBag.courses)
        //        },
        //yaxis: {
        //    title: {
        //        text: 'Grade (Percentage)'
        //    },
        //     min: 0,
        //    max: 100
        //},
        //fill: {
        //    colors: ['#4CAF50']
        //}
        //    };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
            console.log(@Html.Raw(ViewBag.grade))
    </script>
