@model IEnumerable<EDSU_SYSTEM.Models.ParentWard>

@{
    ViewData["Title"] = "Index";
}

<div class="main-container" id="container">
    <partial name="_ParentDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">

                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    <div>
                        <p><span class="text-bold">Name:</span> @ViewBag.Name</p>
                        <p><span class="font-bold">Email:</span>@ViewBag.Email</p>
                        <p><span class="font-bold">Phone:</span>@ViewBag.Phone</p>
                        <p><span class="font-bold">Address:</span>@ViewBag.Address</p>
                    </div>
                    List of Child/Ward(s)
                    <div class="widget-content widget-content-area br-6">
                        <table id="html5-extension" class="table table-hover non-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Child Name
                                    </th>
                                    <th>
                                        Mat No
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Level
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Students.Fullname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Students.MatNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Students.Departments.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Students.Levels.Name)
                                        </td>

                                        <td>
                                            <a asp-action="details" asp-route-id="@item.Students.SchoolEmailAddress" class="btn btn-primary">View</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->