@model IEnumerable<EDSU_SYSTEM.Models.Course>
@{
    ViewData["Title"] = "Create";

}


<div class="main-container" id="container">
<partial name="_StudentDashboardPartial" />
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="col-xl-4 col-lg-4 col-sm-4 mx-auto alert alert-danger border-0 mb-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                    <strong>@ViewBag.ErrorMessage</strong>
                </div> 
               
            }@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage2))
            {
                <div class="col-xl-4 col-lg-4 col-sm-4 mx-auto alert alert-danger border-0 mb-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                    <strong>@ViewBag.ErrorMessage2</strong>
                </div> 
               
            }
        <div class="row layout-top-spacing">
            <div class="col-xl-10 col-lg-10 col-sm-10 mx-auto alert alert-arrow-right alert-icon-right alert-light-info mb-4" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                <strong class="text-warning">Note! Declined courses should be deleted before attempting to re-register.</strong> <br />
                <strong>Note! Register Caarry over courses first (if any)</strong> <br /><br />
                <strong>- Maximum Credit for First Semester: @ViewBag.max</strong> <br /><br />
                <strong>- Number of Courses Registered: @ViewBag.No</strong> <br /><br />
                <strong>- Total Units Registered: @ViewBag.sum</strong> <br /><br />
                <strong>- Total Units Left: @ViewBag.sumLeft</strong>
                   
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget">
                    <div class="widget-content widget-content-area">
                        <table id="html5-extension" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Unit</th>
                                    <th>Semester</th>
                                    <th>Department</th>
                                    <th>Level</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Code</td>
                                        <td>@item.Title</td>
                                        <td>@item.CreditUnit</td>
                                        <td>@item.Semesters.Name</td>
                                        <td>@item.Departments.Name</td>
                                        <td>@item.Levels.Name</td>
                                        <td class="text-center">

                                            <a asp-action="AddCourse" asp-route-id="@item.Code" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Register Course">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather
                        feather-plus-circle">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="12" y1="8" x2="12" y2="16"></line>
                                                    <line x1="8" y1="12" x2="16" y2="12"></line>
                                                </svg>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Unit</th>
                                    <th>Semester</th>
                                    <th>Department</th>
                                    <th>Level</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
</div>
<!--  END CONTENT AREA  -->
    </div>
<!-- END MAIN CONTAINER -->