@model EDSU_SYSTEM.Models.Applicant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentHomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentHomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationalities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationalities.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.States)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.States.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimarySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimarySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondarySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondarySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indigine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indigine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeOfEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeOfEntry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMENumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMENumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseChoseInJamb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseChoseInJamb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject1Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject1Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject2Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject2Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject3Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject3Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMESubject4Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMESubject4Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMETotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMETotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstChoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstChoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondChoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondChoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdChoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdChoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSittings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSittings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject1Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject1Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject2Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject2Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject3Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject3Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject4Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject4Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject5Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject5Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject6Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject6Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject7Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject7Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject8Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject8Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject9Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject9Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject1Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject1Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject2Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject2Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject3Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject3Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject4Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject4Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject5Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject5Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject6Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject6Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject7Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject7Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject8Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject8Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject9Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject9Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAlternatePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAlternatePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JambUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JambUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCertUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCertUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectEntryUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectEntryUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screened)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screened)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Levels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Levels.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departments.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfAdmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfAdmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
