@model EDSU_SYSTEM.Models.Applicant

@{
    ViewData["Title"] = "File Upload";
}

    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>


    <script>
      
//  ===============
//    Javascript
// ===============

window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
}, false);
    </script>
</div>
<div class="collapsable-menu starterkit admin-header">
    <div id="breadcrumbArrowed" class="col-xl-12 col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area text-center">
                <nav class="breadcrumb-two" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Step1" asp-route-id="@Model.Id">Personal Info.</a></li>
                        <li class="breadcrumb-item"><a asp-action="Step2" asp-route-id="@Model.Id">UTME</a></li>
                        <li class="breadcrumb-item"><a asp-action="Step3" asp-route-id="@Model.Id">SSCE</a></li>
                        <li class="breadcrumb-item "><a asp-action="Step4" asp-route-id="@Model.Id">Parents/Guardian</a></li>
                        <li class="breadcrumb-item active"><a asp-action="Step5" asp-route-id="@Model.Id">Upload</a></li>
                        <li class="breadcrumb-item"><a asp-action="Summary" asp-route-id="@Model.Id">Summary</a></li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <!--  BEGIN MAIN CONTAINER  -->
    <!--  BEGIN CONTENT AREA  -->
    <div class="admin-data-content layout-top-spacing">
        <div class="row layout-top-spacing">
            <div class="col-xl-8 col-lg-8 col-md-8 col-8 layout-spacing mx-auto">
                <div class="widget-content-area br-4">
                    <div class="widget-one">
                        <h6 class="text-danger">If you have more than one sitting in SSCE, Kindly merge them and upload</h6>
                        <div class="row">
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.PassportUpload == "" || Model.PassportUpload == null)
                                    {
                                        <span class="text-danger">✕</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="PassportUpload" class="control-label">PASSPORT</label>
                                        <input asp-for="PassportUpload" type="file" class="form-control" name="passport" />
                                        <span asp-validation-for="PassportUpload" class="text-danger"></span>
                                    </div>
                                </div>
                                @* @if (Model.Passport == null)
                                {*@
                                <div class="col-md-2">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                                @*}*@

                            </form>
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.JambUpload == "" || Model.JambUpload == null)
                                    {
                                        <span class="text-danger">✕</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="JambUpload" class="control-label">JAMB PRINTOUT</label>
                                        <input asp-for="JambUpload" type="file" class="form-control" name="jamb" />
                                        <span asp-validation-for="JambUpload" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.Ssce1 == "" || Model.Ssce1 == null)
                                    {
                                        <span class="text-danger">✕</span>

                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Ssce1" class="control-label">SSCE CERTIFICATE</label>
                                        <input asp-for="Ssce1" type="file" class="form-control" name="ssce1" />
                                        <span asp-validation-for="Ssce1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </form>
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.BirthCertUpload == "" || Model.BirthCertUpload == null)
                                    {
                                        <span class="text-danger">✕</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="BirthCertUpload" class="control-label">BIRTH CERTIFICATE</label>
                                        <input asp-for="BirthCertUpload" type="file" class="form-control" name="birtCertificate" />
                                        <span asp-validation-for="BirthCertUpload" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.DirectEntryUpload == "" || Model.DirectEntryUpload == null)
                                    {
                                        <span class="text-danger">✕</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="DirectEntryUpload" class="control-label">D.E UPLOAD <i style="color:red">(For Direct Entry students Only)</i></label>
                                        <input asp-for="DirectEntryUpload" type="file" class="form-control" name="directEntryUpload" />
                                        <span asp-validation-for="DirectEntryUpload" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" type="submit">Upload</button>
                                </div>
                            </form>
                            <form class="needs-validation col-md-6" novalidate asp-action="Step5" enctype="multipart/form-data" method="post">
                                <div class="col-md-2 mt-2">
                                    @if (Model.LGAUpload == "" || Model.LGAUpload == null)
                                    {
                                        <span class="text-danger">✕</span>

                                    }
                                    else
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="LGAUpload" class="control-label">LGA UPLOAD</label>
                                        <input asp-for="LGAUpload" type="file" class="form-control" name="lga" />
                                        <span asp-validation-for="LGAUpload" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <button class="btn btn-primary" type="submit">Upload</button>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

