<div id="chart"></div>


<script>
    var options = {
        chart: {
        height: 350,
        outerWidth: 350,
        type: 'bar',
        toolbar: {
          show: true,
        }
    },
    plotOptions: {
        bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'  
        },
    },
    // colors: ['#888ea8', '#4361ee'],
    dataLabels: {
        enabled: false
    },
    stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
    },
    series: [{
        name: 'Test Score',
        data: @Html.Raw(ViewBag.grade)
    }, {
        name: 'Attendance',
        data: @Html.Raw(ViewBag.grade)
    }],
    xaxis: {
        categories: @Html.Raw(ViewBag.courses)
    },
    yaxis: {
        title: {
            text: 'Percentage(%)'
        },
        min: 0,
        max: 100
    },
    fill: {
        opacity: 1

    },
    tooltip: {
        y: {
            formatter: function (val) {
                return  val + "%"
            }
        }
    }
    }
    //    chart: {
    //        type: 'bar',
    //        height: 350
    //    },
    //    plotOptions: {
    //        bar: {
    //            horizontal: false,
    //            columnWidth: '55%',
    //            endingShape: 'rounded'
    //        },
    //    },
    //    dataLabels: {
    //        enabled: false
    //    },
    //    series: [{
    //        name: 'Score',
    //        data: @Html.Raw(ViewBag.grade)
    //    }],
    //    xaxis: {
    //        categories: @Html.Raw(ViewBag.courses)
    //        },
    //yaxis: {
    //    title: {
    //        text: 'Grade (Percentage)'
    //    },
    //     min: 0,
    //    max: 100
    //},
    //fill: {
    //    colors: ['#4CAF50']
    //}
    //    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    //console.log(@Html.Raw(ViewBag.courses))
</script>