@model EDSU_SYSTEM.Models.UgStudentSupervisor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UgStudentSupervisor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Students.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
