@model IEnumerable<EDSU_SYSTEM.Models.BursaryClearance>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    @ViewBag.student's Approved Payments
                    <a href="#" class="btn btn-primary">Clear Student</a>
                    <div class="widget-content widget-content-area br-6">
                        <table id="html5-extension" class="table table-hover non-hover">
                            <thead>
                                <tr>
                                   @* <th>
                                        S/N
                                    </th>*@
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                       Date 
                                    </th>
                                    <th>
                                        Ref
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                            1
                                        </td>*@
                                        @if (item.Payments.Type==null)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Payments.OtherFees.Name)
                                            </td>
                                        }else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Payments.Type)
                                            </td>
                                        }
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payments.PaymentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payments.Ref)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payments.Status)
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->