@model IEnumerable<EDSU_SYSTEM.Models.OerCourseware>

@{
    ViewData["Title"] = "Index";
}

<div class="nav row">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>
<div id="card_6" class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4 class="text-center">Coursewares</h4>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <!-- Content -->
                    <div class="widget-content widget-content-area">

                        <div class="card component-card_9">
                            <img src="assets/img/400x300.jpg" class="card-img-top" alt="widget-card-2">
                            <div class="card-body">
                                <p class="meta-date">@item.CreatedAt.ToLongDateString()</p>

                                <h5 class="card-title">@item.CourseCode</h5>
                                <p class="card-text">@item.CourseTitle</p>

                                <div class="meta-info">
                                    <div class="meta-user">
                                        <div class="user-name">@item.LectureName</div>
                                    </div>

                                    <div class="meta-action">
                                        <div class="meta-likes">
                                            @*@item.Faculty.Name, @item.Department.ShortCode, @item.Level*@
                                        </div>
                                        <div class="meta-view bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>
<partial name="_Footer" />