@model IEnumerable<EDSU_SYSTEM.Models.VacationExeat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExeatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltParentPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiefPortalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallMasterStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatePass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExeatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hostels.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltParentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiefPortalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallMasterStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatePass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
