@model EDSU_SYSTEM.Models.ConversionStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConversionStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationalities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationalities.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.States)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.States.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentHomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentHomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAltPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAltPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UTMENumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UTMENumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculties.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Levels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Levels.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeOfAdmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeOfAdmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departments.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessions.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfAdmissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfAdmissions.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staffs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staffs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStillAStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStillAStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
