@model EDSU_SYSTEM.Models.Jupeb

@{
    ViewData["Title"] = "Details";
}
<div id="PlaceHolderHere"></div>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <div class="widget-content-area br-4 p-3">
                        <div class="widget-one p-3">
                            <div class="row">
                                <div class="col-md-3">
                                    Surname: @Model.Surname
                                </div>
                                <div class="col-md-3">
                                    FirstName: @Model.FirstName
                                </div>
                                <div class="col-md-3">
                                    Othername: @Model.OtherName
                                </div>
                                <div class="col-md-3">
                                    DOB: @Model.DOB
                                </div>
                            </div><br /><hr />
                            <div class="row">
                                <div class="col-md-3">
                                    Sex: @Model.Sex
                                </div>
                                <div class="col-md-3">
                                    Marital Status: @Model.MaritalStatus
                                </div>
                                <div class="col-md-3">
                                    Place of Birth: @Model.PlaceOfBirth
                                </div>
                                <div class="col-md-3">
                                    Address: @Model.ContactAddress
                                </div>
                            </div><br /><hr />
                            <div class="row">
                                <div class="col-md-3">
                                    Home Address: @Model.PermanentHomeAddress
                                </div>
                                <div class="col-md-3">
                                    Nationality:
                                     @if (Model.Nationalities != null)
                                    {
                                        @Model.Nationalities.Name
                                        
                                    }
                                    else
                                    {
                                         @("N/A")
                                    }
                                </div>
                                <div class="col-md-3">
                                    State:
                                     @if (Model.States != null)
                                    {
                                         @Model.States.Name
                                    }
                                    else
                                    {
                                        @("N/A")
                                    }
                                </div>
                                <div class="col-md-3">
                                    LGA: @if (Model.LGAs != null)
                                    {
                                         @Model.LGAs.Name
                                    }
                                    else
                                    {
                                        @("N/A")
                                    }
                                </div>
                            </div><br /><hr />
                            <div class="row">
                                <div class="col-md-3">
                                    Phone: @Model.PhoneNumber
                                </div>
                                <div class="col-md-3">
                                    Alt. Phone: @Model.AltPhoneNumber
                                </div>
                                <div class="col-md-3">
                                    Primary School: @Model.PrimarySchool
                                </div>
                                <div class="col-md-3">
                                    Sec. School: @Model.SecondarySchool
                                </div>
                            </div><br /><hr/>
                            <div class="row">
                                <div class="col-md-3">
                                    Mode Of Entry: @Model.ModeOfEntry
                                </div>
                                <div class="col-md-3">
                                    Email: @Model.Email
                                </div>
                               @* <div class="col-md-3">
                                    UTME: @Model.UTMENumber
                                </div>*@
                               @* <div class="col-md-3">
                                    DOB: @Model.OtherName
                                </div>*@
                            </div><br /><hr/>

                            <div class="row">
                                @*<div class="col-md-2">
                                    <a href="~/files/applicantUploads/jamb/@Model.JambUpload">
                                        <span class="badge badge-success"> JAMB</span>
                                    </a>
                                </div>*@
                                <div class="col-md-2">
                                    <a href="~/files/ca.xlsx">
                                        <span class="badge badge-success"> SSCE</span>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="~/files/ca.xlsx">
                                        <span class="badge badge-success"> Birth Cert.</span>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="~/files/ca.xlsx">
                                        <span class="badge badge-success"> LGA</span>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="~/files/ca.xlsx">
                                        <span class="badge badge-success"> DE</span>
                                    </a>
                                </div>
                            </div><hr />
                            <div class="row">
                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Accept Application" data-url="@Url.Action($"Admit/{Model.Id}")">
                                        Accept
                                    </a>
                                </div>
                                @if (Model.Status == EDSU_SYSTEM.Models.Enum.MainStatus.Approved)
                                {
                                <div class="col-md-2">
                                    @if (Model.Cleared == true)
                                        {
                                            <h6>Cleared</h6>
                                        }else
                                        {
                                            <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Clear Applicant" data-url="@Url.Action($"ClearApplicant/{Model.ApplicantId}")">
                                                Clearance
                                            </a>
                                        }
                                        
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Activate Wallet" data-url="@Url.Action($"ActivateWallet/{Model.ApplicantId}")">
                                        Wallet
                                    </a>
                                </div>
                                }
                                
                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Reject Application" data-url="@Url.Action($"Reject/{Model.Id}")">
                                        Reject
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Cancel Application" data-url="@Url.Action($"Cancel/{Model.Id}")">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary bs-tooltip" data-toggle="ajax-modal" data-placement="top" data-original-title="Delete Application" data-url="@Url.Action($"Delete/{Model.Id}")">
                                        Delete
                                    </a>
                                </div>

                                <div class="col-md-2">
                                    <a class="btn btn-outline-primary" asp-action="index">
                                        Back to list
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>          
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->

