@model EDSU_SYSTEM.Models.PgApplicant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PgApplicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentHomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentHomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimarySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimarySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondarySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondarySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramApplyingFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramApplyingFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassOfDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassOfDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearGraduated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearGraduated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentageOfResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentageOfResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfSpecialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfSpecialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSittings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSittings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject1Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject1Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject2Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject2Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject3Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject3Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject4Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject4Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject5Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject5Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject6Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject6Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject7Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject7Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject8Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject8Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1Subject9Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1Subject9Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject1Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject1Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject2Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject2Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject3Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject3Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject4Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject4Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject5Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject5Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject6Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject6Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject7Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject7Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject8Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject8Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2Subject9Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2Subject9Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullNameOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullNameOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternatePhoneNumberOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternatePhoneNumberOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationOfNextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationOfNextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HigherDegrees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HigherDegrees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssce2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssce2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCertificate)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LGAUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LGAUpload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NYSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NYSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref3)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
